body {
  padding: 4% 7% 0 7%;
  background-color: #202020;
text-align: center;
}


.container-fluid {
  align-items: center;
  padding: 5% 10% 13% 10%;
  border-style: solid;
  border-width: 0.5px;
  border-color: #D4AF37;
  border-radius: 5px;
  height: 80%;
  width: 40%;
  box-shadow: 1px 1px 2px #D4AF37;
}

.newsletterspacing {
  color:#D4AF37;
  padding-top: 8%;
  padding-bottom: 20%;
}

.logo {
  height: 50%;
  width:50%;
}

.mb-3 {
  margin: -17px;
}

.form-control {
  border-radius: 0;
  width: 100%;
}

.forms {
  max-width: 330px;

}

.topInput{
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  /* padding: 6px 2px; */
}


.middleInput{
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  /* padding: 6px 2px; */
}

.btn-warning {
  background-color: #D4AF37;
  border: #D4AF37;
  width: 50%;
}

.bottomButton{
  padding: 6px 0;
}


footer {
  padding-top: 3%;
  color:#D4AF37;
}
